@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   font-family: "Poppins", sans-serif;
}

body{

    background-color: white;
}

header {
    padding: 20px 8%;
}

section{
    padding: 70px 8%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo{
    font-weight: bold;
    font-size: 20px;
}

.logo-div{
    width: 30%;
}

.logo span {
    color: #F6D238;
}

ul {
    display: flex;
    justify-content: space-between;
    width: 40%;
    list-style: none;
}

ul li {
    padding: 10px 25px;
}

ul li a{
    text-decoration: none;
    color: #999;
    transform: 0.5s;
    font-size: 14px;
}

ul li a:hover {
    background-color: #F6D238;
    padding: 15px;
    color: #000;
    font-weight: bold;
    border-radius: 20px;
}

.btn-header{
    width: 30%;
    display: flex;
    justify-content: end;
}

.btn{
    background-color: #F6D238;
    border: 2px solid #F6D238;
    border-radius: 20px;
    padding: 15px 30px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.btn:hover {
    background-color: #f1f1f1;
    transform: rotate(5deg) ;
}

.btn i{
  margin-right: 5px;  
}

.home-section{
    display: flex;
    justify-content: center;
    width: 100%;
}

.home-section .left{
    position: relative;
    height: 500px;
    width: 600px;
}

.home-section .left img {
    position: absolute;
    object-fit:cover ;
    border: 8px solid #fff;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.1);
    border-radius: 2rem;
}

.home-section .left-image-1{
   width: 450px;
   height: 500px;
   transition: 0.5s; 
}

.home-section .left-image-1:hover{
   transform: scale(1.1) rotate(10deg);
}


.home-section .left-image-2{
   width: 350px;
   height: 350px;
   top: 150px;
   left: 250px;
   transition: 0.5s; 
}

.home-section .left-image-2:hover{
   transform: scale(1.1) rotate(-10deg);
}

/* Pour les boutons */
.buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.right {
    margin-left: 100px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right .text-right{
    color: #F6D238;
    font-weight: bold;
}

.right h1{
    margin:20px 0px;
    font-size: 35px;
    font-weight: bold;
    line-height: 50px;
}

.right p{
    margin-bottom: 25px;
    color: #999;
    width: 70%;
    font-size: 14px;
}

.see-video{
    border: 0;
    display: flex;
    background-color: transparent;
    align-items: center;
    cursor: pointer;
}

.see-video span {
    margin-left: 25px;
    font-weight: bold;
}

.video-bg {
    margin-left: 20px;
    background: url(image/img3.jpg);
    height: 50px;
    width: 50px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    position: relative;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.play-btn{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    right: -20px;
    transform: translate(-20%,50%);/*bottom: -3px;*/
}

.btn span{
    font-size: 14px;
}

.play-btn i{
    color: #cf0c11;
}

.destination .title{
    font-size: 30px;
}

.desc-button{
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
}

.desc-button .button button{
   background-color: #F6D238;
   border: 0px;
   cursor: pointer; 
   border: 2px solid #F6D238;
   height: 50px;
   width: 50px;
   border-radius: 50%;
   transition: 0.5s;
    display: flex; 
   justify-content: center;
   align-items: center;
   color: black;
}

.desc-button .button button:hover{
    background-color: #f1f1f1;
    transform: rotate(10deg);
}

.button{
    display: flex;
    gap: 15px;;
}

.desc-button .button button i{
    font-size: 25px;
}

.destination .small-desc{
    color: #999;
    width: 60%;
    font-size: 14px;
}

.destination .gallerie .image{
    width: 24%;
    height: 350px;
    border-radius: 1rem;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    cursor:pointer;
    background-color: #fff;
    padding: 20px;
}

.destination .gallerie .image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    transition: 0.5s;
}

.destination .gallerie{
    display: flex;
    justify-content: space-between;
}

.destination .gallerie  .description{
    transform: translateY(350px);
    background-color: #fff;
    padding: 20px;
    text-align: center;
    transition: 0.5s;
}

.destination .gallerie  .description h1{
    font-size: 20px;
    margin-bottom: 10px; 
}

.destination .gallerie  .description p{
    font-size: 14px;
    color: #999; 
}

.destination .gallerie .image:hover .description{
    transform: translateY(-120px );
}

.destination .gallerie .image:hover img{
    transform: translateY(-120px );
}

